# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings (optional, if you use VSCode)
.vscode/

# OS-specific
.DS_Store
Thumbs.db
